FindTaxi
*.data

\.vs/database/v15/\.suo

\.vs/database/v15/Browse\.VC\.db

\.vs/database/v15/Browse\.VC\.opendb

database\.sln

database\.vcxproj

database\.vcxproj\.filters

database\.vcxproj\.user

Debug/database\.exe

Debug/database\.ilk

Debug/database\.log

Debug/database\.pdb

Debug/database\.tlog/CL\.command\.1\.tlog

Debug/database\.tlog/CL\.read\.1\.tlog

Debug/database\.tlog/CL\.write\.1\.tlog

Debug/database\.tlog/database\.lastbuildstate

Debug/database\.tlog/link\.command\.1\.tlog

Debug/database\.tlog/link\.read\.1\.tlog

Debug/database\.tlog/link\.write\.1\.tlog

Debug/FindTaxi\.obj

Debug/mySocket\.obj

Debug/vc141\.pdb
